body {
    color: #000;
    font: 14px Arial;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width:100%;
    Font-size:62.5%
    max-width: 800px;
}
#unsupport{
    position: relative;
    width : 100%;
    max-width: 80em;
    margin: 1em auto;
    color: red;
    text-align: center;
    display: none;
}

#begin{
    width: 115px;
    height: 45px;
    background-color: antiquewhite;
    margin: 20px 0 0 0;
    border: 1px solid gray;
    border-radius: 10px;
}

#begin:focus{
    width: 115px;
    height: 45px;
    background-color: antiquewhite;
    margin: 20px 0 0 0;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
}

.container{
    position: relative;
    width : 100%;
    max-width: 400px;
    margin: 5px auto;
    color: red;
    //text-align: center;
    border: 0px solid green;
}


/**输入输出内容DIV**/

span{
    border: 0px solid #000000;
    font-size: 16px;
    margin-left: 32px;
}

#btnsignin{
    height: 30px;
    width: 100px;
    position: relative;
    margin: 20px 0px 10px 30px;
  }

#btnsignout{
    height: 30px;
    width: 100px;
    position: relative;
    margin: 20px 0px 10px 30px;
}

